/*Layout*/
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Button */
.btn{
    display: inline-block;
    padding: 1.25rem 3.25rem;
    font-size: 1.4rem;
    width: 100%;
    
}
.btn-secondary {
    color: #555;
    background: #d0bea2;
    
}
/*
HEADER
================================================ */
.main-nav{
    display: flex;
}
.main-nav li {
    text-align: center;
    font-size: 1.2rem;
    margin-left: 40px;
}
.logo{
    width: 200px;
    height: 50px;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: center;
}

/*
HOME
================================================ */
.home-hero{
    background: url('../images/bg-hero.jpg') no-repeat right top / 70vw auto;
    padding: 5.5rem 1rem 3rem;
}

/*Contents*/
.content{
    padding: 2rem 1rem;
}
.home-text{
    margin: 0 auto;
}

/*FOOTER
================================================*/
footer{
    background: #2D3374;
    padding: 3rem 1rem;
    text-align: center;
}
footer .btn {
    margin-bottom: 3.5rem;
}
.footer-nav a {
    color: #d5d7e4;
}
/*
DESKTOP SIZE
================================================ */
@media (min-width: 600px) {
/* Common */
    .title{
        font-size: 1.9rem;
    }
    .btn{
        width: auto;
    }
/*Home*/
    .home-hero h2{
        font-size: 2.5rem;
    }
}
    p{
        margin-top:3%;
    }

/* Contents */
.home-text{
    width: 50vw;
    margin-top: 3%;
}

/*Footer*/
    .footer-nav{
        display: flex;
        justify-content: center;
    }
    .footer-nav li{
        margin: 0.75rem;
    }
