/*
HEADER
================================================ */
.main-nav{
    display: flex;
}
.main-nav li {
    text-align: center;
    font-size: .75rem;
}
.logo{
    width: 200px;
    height: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 7%;
    
}