/*Layout*/
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

/*
HEADER
================================================ */
.main-nav{
    display: flex;
}
.main-nav li {
    text-align: center;
    font-size: 1.2rem;
    margin-left: 40px;
}
.logo{
    width: 200px;
    height: 50px;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: center;
}

/*
HOME
================================================ */
.home-hero{
    background: url('../images/bg-hero.jpg') no-repeat right top / 70vw auto;
    padding: 5.5rem 1rem 3rem;
}

/*Contents*/
.home-text{
    margin: 0 auto;
}

/*
DESKTOP SIZE
================================================ */
@media (min-width: 600px) {
/* Common */
    .title{
        font-size: 1.9rem;
    }

/*Home*/
    .home-hero h2{
        font-size: 2.5rem;
    }
}

/* Contents */
.home-text{
    width: 50vw;
}
